* { 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-style: "asap", sans-serif;
}

body {
   background: linear-gradient(to right, rgb(215, 131, 191), rgb(90, 7, 88));
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   min-height: 100vh;
}

.container {
   min-height: 400px;
   min-width: 400px;
   background-color: rgba(49, 70, 93, 0.138);
   padding: 2rem;
   box-shadow: 2px 2px rgba(255, 255, 255, 0.556), 15px 15px rgb(88, 35, 71);
}

.text-center {
   color: white;
   font-weight: bold;
   text-align: center;
}

.form-group {
   display: flex;
   flex-direction: column;
   flex: 1;
   padding-bottom: 0.5rem;
}

.form-group label {
   font-weight: bold;
   margin-bottom: 0.4rem;
   color: rgb(229, 232, 235);
}

.form-group input {
   padding: 0.5rem;
   font-size: 14px;
   border: none;
   border-radius: .8rem;
   border: 1px solid white;
   background: transparent;
   color: white;
}

.form-group input::placeholder {
   color: white;
}

.form-group input {
   padding: 0.5rem;
   font-size: 14px;
   border: none;
   border-radius: .8rem;
   border: 1px solid white;
   background: transparent;
   color: white;
}



#button {
   text-transform: uppercase;
   background-color: rgb(64, 5, 67);
   padding: 0.9rem 0.8rem;
   color: white;
   cursor: pointer;
   opacity: 0.6;
   border: none;
   border-radius: 10px;
   display: flex;
   justify-content: space-around;
   margin-top: 1rem;
   gap: 0.8rem;
}

#button:hover {
   opacity: 1.5;
}